$bcolor: red;
$bsize: 1px;
$bstyle: solid;

$border: $bcolor $bsize $bstyle;
$radi: 25%;

.leftButton {
    border: $border;
    border-radius: $radi 0% 0% 0%;
    cursor: pointer;
}
.rightButton {
    border: $border;
    border-radius: 0% $radi 0% 0%;
    cursor: pointer;
}
.centerButton {
    border: $border;
    cursor: pointer;
}
.topOther {
    border-top: $border;
}
.lr {
    /*padding-left: 0.45em;
    padding-right: 0.45em;*/
    border-left: $border;
    border-right: $border;
}
.gamer {
    --ok: red;
}
