<!DOCTYPE html>
<html>
	<!--
		Welcome to the code for this website!
		I am using vuejs 3 and picnic (css)
		I put this site together quickly and probaby
		didnt use the best practices. 
		Like I say, make it work, then make it look nice
	-->
  <head>
    <meta charset="utf-8">
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Personalize Schedule</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="https://insberr.github.io/schedule-personalizer/calendar.png">
    
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="https://insberr.github.io/schedule-personalizer/calendar.png">
    <meta name="apple-mobile-web-app-title" content="Schedule">
  </head>
  <body>
  	<div id="main">
  		<div class="question" v-if="!hide">
  			<span>This website is kindly created by Jonah Matteson. You're welcome.</span>
  			<br><br>
				<span>
					This is saved in your browser. You can make this an "app" on your iPad homescreen, I recommend you add it before using this.
					<br>To do this, open this site in Safari, click export, click "Add to Home Screen" and click add. Go to the "app" named "Schedule" and fill this out there.
				</span>
  			<br>
  			<strong>Please use and check the schedules provided by the school too! I will keep this updated with new info when I get it!</strong>
  		</div>
  		<div class="question" v-if="!hide">
  			<h2 class="crimson">Enter your classes</h2>
  			<div class="mb-10">Entering the Zoom links is optional, but creates a clickable link here so you dont have to search around canvas every time.</div>
  			<div class="third">
	  			<label class="stack">
	  				<span>Period 1</span>
	  				<input type="text" name="period" oninput="main.save()" v-model="classes.p1" placeholder="Name of 1st pd. class">
	  				<input type="text" name="zoom" oninput="main.save()" v-model="zooms.p1" v-bind:placeholder="(classes.p1 ? classes.p1 : 'Period 1') + ' zoom link'">
	  			</label>
	  			<br>
	  			<label class="stack">
	  				<span>Period 2</span>
	  				<input type="text" name="period" oninput="main.save()" v-model="classes.p2" placeholder="Name of 2nd pd. class">
	  				<input type="text" name="zoom" oninput="main.save()" v-model="zooms.p2" v-bind:placeholder="(classes.p2 ? classes.p2 : 'Period 2') + ' zoom link'">
	  			</label>
	  			<br>
	  			<label class="stack">
	  				<span>Period 3</span>
	  				<input type="text" name="period" oninput="main.save()" v-model="classes.p3" placeholder="Name of 3rd pd. class">
	  				<input type="text" name="zoom" oninput="main.save()" v-model="zooms.p3" v-bind:placeholder="(classes.p3 ? classes.p3 : 'Period 3') + ' zoom link'">
	  			</label>
	  			<br>
	  			<label class="stack">
	  				<span>Period 4</span>
	  				<input type="text" name="period" oninput="main.save()" v-model="classes.p4" placeholder="Name of 4th pd. class">
	  				<input type="text" name="zoom" oninput="main.save()" v-model="zooms.p4" v-bind:placeholder="(classes.p4 ? classes.p4 : 'Period 4') + ' zoom link'">
	  			</label>
	  			<br>
	  			<label class="stack">
	  				<span>Period 5</span>
	  				<input type="text" name="period" oninput="main.save()" v-model="classes.p5" placeholder="Name of 5th pd. class">
	  				<input type="text" name="zoom" oninput="main.save()" v-model="zooms.p5" v-bind:placeholder="(classes.p5 ? classes.p5 : 'Period 5') + ' zoom link'">
	  				<br><br>
	  				<span>Advisory</span>
	  				<input type="text" name="zoom" oninput="main.save()" v-model="zooms.padv" placeholder="Advisory zoom link">
	  			</label>
	  		</div>
      </div>
  		<div class="question" v-if="!hide">
  			<h2 class="crimson">Which cohort are you in?</h2>
  			<label>
  				<input type="radio" name="cohort" value="a" v-model="cohort">
  				<span class="checkable">Cohort A</span>
  			</label>
  			<br>
				<label>
					<input type="radio" name="cohort" value="b" v-model="cohort">
					<span class="checkable">Cohort B</span>
				</label>
			</div>
			<div class="question" v-if="!hide">
				<h2 class="crimson">What lunch do you have?</h2>
				<label>
					<input type="radio" name="lunch" value="1" v-model="lunch">
					<span class="checkable">Lunch A</span>
				</label>
				<br>
				<label>
					<input type="radio" name="lunch" value="2" v-model="lunch">
					<span class="checkable">Lunch B</span>
				</label>
				<br>
				<label>
					<input type="radio" name="lunch" value="3" v-model="lunch">
					<span class="checkable">Lunch C</span>
				</label>
			</div>
			<div class="mb-10">
				<h2 class="crimson question" v-if="!hide">See your schedule!</h2>
				<div class="mb-30 question" id="make-app">
					<div v-if="!hide">
						To make this into an "app"; First, <a @click="copyData()">click here</a> to copy the info you entered here (If you havent entered anything then you don't have to click that),
						<br>Next, open this site in Safari, click the export button in the top right, click "Add to Home Screen" and click add.
						<br>This will make an "app" on your homescreen named "Schedule", open it and paste your clipboard into this text box in the "app": <input style="width: 200px;" type="text" v-model="copy">
					</div>
					<button v-if="hide" @click="hide = false">Edit Schedule</button>
					<button class="mt-10" v-if="!hide" @click="hide = true">Show Only The Schedule</button>
				</div>
				<div class="over-x my-table">
					<table class="tbl warning">
						<thead>
							<tr>
								<th class="tbl-th tc" style="background-color: crimson;">Monday - {{ cohort === 'a' ? 'In Person' : 'Remote' }}</th>
								<th class="tbl-th tc" style="background-color: crimson;">Tuesday - {{ cohort === 'a' ? 'Remote' : 'In Person' }}</th>
								<th class="tbl-th tc" style="background-color: #222222;">Wednesday - Remote</th>
								<th class="tbl-th tc" style="background-color: #9a9a9a;">Thursday - {{ cohort === 'a' ? 'In Person' : 'Remote' }}</th>
								<th class="tbl-th tc" style="background-color: #9a9a9a;">Friday - {{ cohort === 'a' ? 'Remote' : 'In Person' }}</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="tbl-td" v-for="day in schedule[cohort]">
									<table class="tbt primary">
										<thead>
										  <tr>
										  	<th class="tc">Class</th>
										  	<th class="tc">Time</th>
										  </tr>
									  </thead>
									  <tbody>
										  <tr class="tbt-tr" style="border-top: .5px solid gray;" v-for="period in day">
										  	<td v-if="period.l === undefined || period.l === lunch" class="tbt-td" v-bind:class="{ clas: (period.p), pass: (period.p === 'pass'), lunch: (period.p === 'lnc'), study: (period.p === 'study'), arr: (period.p === 'arr'), diss: (period.p === 'dism') }">{{ classes['p' + period.p] != '' ? classes['p' + period.p] : 'Period ' + period.p }} <a v-if="zooms['p' + period.p]" v-bind:href="zooms['p' + period.p].startsWith('https://') ? zooms['p' + period.p] : 'https://' + zooms['p' + period.p]" target="_blank">zoom</a></td>
											  <td v-if="period.l === undefined || period.l === lunch" class="time tbt-td" v-bind:class="{ clas: (period.p), pass: (period.p === 'pass'), lunch: (period.p === 'lnc'), study: (period.p === 'study'), arr: (period.p === 'arr'), diss: (period.p === 'dism') }">{{ period.time }}</td>
										  </tr>
									  </tbody>
								  </table>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="question mt-20">
				<h3 class="crimson">Schedules Provided By The School</h3>
				<a href="https://drive.google.com/file/d/1Z5OvBsd2DgT-E8Gg9sWMZ94CEoB1NCZC/view?usp=sharing" target="_blank">Cohort A PDF</a>
				<br><a href="https://drive.google.com/file/d/1TbPP44NlbFKG-XPWcfDHMokIcj38Iadr/view?usp=sharing" target="_blank">Cohort B PDF</a>
				<br><a href="https://drive.google.com/file/d/1kQMWvAhth5ZAEdlPuewxal2b1oNJlWnO/view?usp=sharing" target="_blank">March Calendar Schedule Revised (2) PDF</a>
				<br><a href="https://drive.google.com/file/d/18UAQtzPAg4J0eserXrGNi81obDjTodYe/view?usp=sharing" target="_blank">March 22 & 23 Bell Schedule (1) PDF</a>
			</div>
			<div class="question mb-10" v-if="!hide">
				<h2 class="crimson">Information</h2>
				<a href="https://www.smore.com/1zk7y" target="_blank">March 19th Weekly Newsletter (Smore)</a>
			</div>
	  	<div class="question mb-10" v-if="!hide">
		  	<h2 class="crimson">Site Information</h2>
	      <div class="mb-10">
					If you are a web developer, you can check out the code <a href="https://github.com/insberr/schedule-personalizer" title="See this sites code here." target="_blank">here</a>.
		      <br>This website does not use cookies, track you, track anyalytics, or store any data you enter to a server or other external source.
				  <br>The schedule is saved locally on your browser so when you come back to this site its still filled in : )
				</div>
				<div class="mb-10">
					<span>If you are experiencing issues or want to clear what you filled in, click this button</span>
					<br><button onclick="localStorage.clear(); location.reload(true)">Reset</button>
				</div>
				<div class="mb-10">
					<a style="color: gray; font-size: 12px;" href="https://www.vecteezy.com/free-vector/calendar-icon">Calendar Icon Vectors by Vecteezy</a>
				</div>
			</div>
			<div class="mt-20 mb-10 question" v-if="hide">
				<span>This website is kindly created by <a href="https://insberr.github.io/" target="_blank">Jonah Matteson</a></span>
				<br><a style="color: gray; font-size: 12px;" href="https://www.vecteezy.com/free-vector/calendar-icon">Calendar Icon Vectors by Vecteezy</a>
			</div>
		</div>
		<script src="script.js"></script>
  </body>
</html>