body {
	font-family: Arial, Sans-Serif;
	font-size: 14px;
	margin: 10px;
}

.headertext {
	font-weight: 900;
   color: #fff;
}

.card-header {
	background-color: crimson;
    color: white;
}

.time {
	padding-right: 3px!important;
	text-align: right;
}

.crimson {
	color: crimson;
}

.bgcrimson {
	background-color: rgba(220, 20, 60, 0.555)!important;
}

.bgsilver {
	background-color: #81818180!important;
}

/*
td>a {
	color: crimson !important
}
*/

tr td {
	padding-left: 2px !important;
	padding-right: 2px !important;
	margin-left: 2px !important;
	margin-right: 2px !important;
}

.popover-header {
	background-color: crimson;
}

.tblue {
	color: black;
	background-color: #00e1ffc9;
}

.t3rdblue {
	color: black;
	background-color: #00b0c7c9;
}

.tgreen {
	color: black;
	background-color: #83fd78c9!important;
}

.tyellow {
	color: black;
	background-color: #ffffbfc9!important;
}

.twhite {
	color: inherit;
	background-color: transparent!important;
}

.tgray {
	background-color: #383838;
}

.ttred {
	color: black;
	background-color: #ffdfbf!important;
}

.tc {
	width: 15rem;
}

[v-cloak] {
  display: none;
}

table {
	border-collapse: none!important;
}

table tr:last-child > td:last-child {
	border-radius: 0 0 10px 0!important;
}

table tr:last-child > td:first-child {
	border-radius: 0 0 0 10px!important;
}

table tr:first-child > th:first-child {
	border-radius: 10px 10px 0 0!important;
}

thead, th {
	border-style: none!important;
}
/*
// no borders, looks kinda cool tbh
tbody, td, tr, thead, th {
    border-style: none!important;
}
*/

/*
thead.bdcrimson {
	border-bottom-style: solid!important;
	border-bottom-width: 5px!important;
	border-bottom-color: rgb(220, 20, 60)!important;
}

thead.bdsilver {
	border-bottom-style: solid!important;
	border-bottom-width: 5px!important;
	border-bottom-color: #818181!important;
}
*/
