body {
	font-family: Arial, Sans-Serif;
	font-size: 14px;
	margin: 10px 10px 30px 10px;
}
h2 {
	margin-top: 5px;
}

.headertext {
	font-weight: 900;
    color: #fff;
}

.dark {
	background-color: #222222;
	color: white;
}

.dark :is(td) {
	color: black;
}

.dark :is(input) {
	background-color: gray;
}


.nocolor table tbody tr td {
	background-color: inherit;
}

.time {
	padding-right: 3px!important;
	text-align: right;
}

.clas {
	background-color: #40daf5!important;
}

.arr {
	background-color: #fcff5c!important;
}

.lunch {
	background-color: #bbff5c!important;
}

.study {
	background-color: lightgray!important;
}

.pass {
	background-color: #f288c4!important;
}

.diss {
	background-color: #4beb8e!important;
}

.crimson {
	color: crimson;
}

