body {
	font-family: Arial, Sans-Serif;
	font-size: 15px;
	padding: 30px 15px 30px 15px;
}

.over-x {
	overflow-x: scroll;
}

.tbl td {
	padding: 3px;
}

.hidden {
	display: none;
}

.tbl.tbt td {
	padding: 3px;
}

.nocolor table tbody tr td {
	background-color: inherit;
}

.time {
	width: 100px;
}

.clas {
	background-color: #40daf5;
}

.arr {
	background-color: #fcff5c;
}

.lunch {
	background-color: #bbff5c;
}

.study {
	background-color: lightgray;
}

.pass {
	background-color: #f288c4;
}

.diss {
	background-color: #4beb8e;
}