@import 'npm:@fontsource/roboto/index.css';

body {
    font-family: 'Roboto';
    // prevent a flash of white on startup
}

body.darkStart {
    background-color: #121212;
}
body.lightStart {
    background-color: #fff;
}
