@import "../../variables.scss";
$today-highlight-bg: $shaderer-bg;
$out-of-range-bg-color: $shade-bg;
$btn-bg: $shade-bg;
$btn-color: $body-color;
@import 'npm:react-big-calendar/lib/sass/styles';
@import 'npm:react-big-calendar/lib/addons/dragAndDrop/styles'; // if using DnD